
         <!-- footer area start -->
         <footer>
            <div class="footer__area footer-bg">
               <div class="footer__top pt-90 pb-40">
                  <div class="container">
                     <div class="row">

                        <div class="col-xxl-3 col-xl-3 col-lg-2 col-md-2 col-sm-6">                          
                           <div class="footer__widget mb-50">
                             
                           </div>
                        </div>



                        <div class="col-xxl-3 col-xl-3 col-lg-5 col-md-4 col-sm-6">                          
                           <div class="footer__widget mb-50">
                              <div class="footer__widget-head mb-22">
                                 <div class="footer__logo">
                                    <a href="index.html">
                                       <img  src="assets/img/logo/2-.png" alt="" style="width: 100%; height: 100%;position: relative;top: -26px;">
                                    </a>
                                 </div>
                              </div>
                              <div class="footer__widget-body">
                                 <p>Plateforme éducative en ligne .</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-2 offset-xxl-1 col-xl-2 offset-xl-1 col-lg-5 col-md-4 offset-lg-0  offset-md-1 col-sm-5 offset-sm-1">
                           <div class="footer__widget mb-50">
                              <div class="footer__widget-head mb-22">
                                 <h3 class="footer__widget-title">Platforme</h3>
                              </div>
                              <div class="footer__widget-body">
                                 <div class="footer__link">
                                    <ul>
                                       <li><a href="home">Acceuil</a></li> 
                                       <li><a href="about">Qui sommes-nous?</a></li>
                                       <li><a href="blog">Blog</a></li>                                 
                                       <li><a href="contact">contact</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>   

                        <div class="col-xxl-3 col-xl-3 col-lg-2 col-md-2 col-sm-6">                          
                           <div class="footer__widget mb-50">
                             
                           </div>
                        </div>
                                           
                     </div>
                  </div>
               </div>
               <div class="footer__bottom">
                  <div class="container">
                     <div class="row">
                        <div class="col-xxl-12">
                           <div class="footer__copyright text-center">
                              <p> Upkurs. Développé par Eya RAYES</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- footer area end -->