<!DOCTYPE html>
<html lang="en">
    <app-header1></app-header1>


<body>
      <!-- pre loader area start --><!--elli mlouel blkoll-->
      <!-- <div id="loading">
        <div id="loading-center">
          <div id="loading-center-absolute">
            <div class="loading-content">
              <img class="loading-logo-text" src="assets/img/logo/2.png" alt="" style="width: 75%; height: 75%;">
              <div class="loading-stroke">
                <img class="loading-logo-icon" src="assets/img/logo/logo-icon.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div> -->
     <!-- pre loader area end -->
        <!-- back to top start -->
      <div class="progress-wrap">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </div>
      <!-- back to top end -->




    <table class="table" *ngIf="listReservation.length>0" style="text-align: center;">
        <thead>
            <tr>

                <th scope="col text-center">Cours</th>
                <th scope="col">Date début</th>
                <th scope="col">Date fin</th>
                <th scope="col">Prix (dt)</th>
                <th scope="col">Etat</th>
                <th  scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cours of listReservation">
                <th scope="row">
                    <div class="alert alert-light" role="alert">
                        {{cours?.cours?.nom}}
                    </div>
                </th>
                <td>
                    <div class="alert alert-light" role="alert">
                        {{cours?.cours?.horaireDebut | date:'medium' }}
                    </div>
                </td>
                <td>
                    <div class="alert alert-light" role="alert">
                        {{cours?.cours?.horaireFin | date:'medium' }}
                    </div>
                </td>
                <td>
                    <div class="alert alert-light" role="alert">
                        {{cours?.cours?.prixbillet}} Dt
                    </div>
                </td>
                <td>
                    <div class="alert alert-success" role="alert" *ngIf="cours?.etat==1">
                        Validée
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="cours?.etat==0">
                        en cours ...
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="cours?.etat==2">
                        Annulée
                    </div>
                </td>
                <td>
                    <div class="alert alert-success" role="alert" *ngIf="cours?.etat==1" (click)="edition_facture(cours?.id)">
                  Facture
              </div>
              </td>
            </tr>

        </tbody>
    </table>
    <div *ngIf="listReservation.length===0">
        <div class="alert alert-primary" role="alert">
            Pas des reservations!
        </div>
    </div>
