<!doctype html>
<html class="no-js" lang="zxx">
    <app-header></app-header>
   <body> 

     <!-- pre loader area start --><!--elli mlouel blkoll-->
     <div id="loading">
        <div id="loading-center">
          <div id="loading-center-absolute">
            <div class="loading-content">
              <img class="loading-logo-text" src="assets/img/logo/2.png" alt="" style="width: 75%; height: 75%;">
              <div class="loading-stroke">
                <img class="loading-logo-icon" src="assets/img/logo/logo-icon.png" alt="">
              </div>
            </div>
          </div>
        </div>  
      </div>
      <!-- pre loader area end -->

      <!-- back to top start -->
      <div class="progress-wrap">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </div>
      <!-- back to top end -->
      <main>

         <!-- hero area start -->
         <section class="hero__area hero__height d-flex align-items-center grey-bg-2 p-relative">
            <div class="hero__shape">
               <img class="hero-1-circle" src="assets/img/shape/hero/hero-1-circle.png" alt="">
               <img class="hero-1-circle-2" src="assets/img/shape/hero/hero-1-circle-2.png" alt="">
               <img class="hero-1-dot-2" src="assets/img/shape/hero/hero-1-dot-2.png" alt="">
            </div>
            <div class="container">
               <div class="hero__content-wrapper mt-90">
                  <div class="row align-items-center">
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="hero__content p-relative z-index-1">
                           <h4 class="hero__title">
                             <span class="counter-value" data-target="36894">+ {{totalCour}} Cours disponibles</span>
                             Nous t'accompagnons vers la réussite à notre manière.</h4>
                              <a href="cours" class="e-btn">voir tous les cours</a>
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="hero__thumb d-flex p-relative">
                           <div class="hero__thumb-shape">
                              <img class="hero-1-dot" src="assets/img/shape/hero/hero-1-dot.png" alt="">
                              <img class="hero-1-circle-3" src="assets/img/shape/hero/hero-1-circle-3.png" alt="">
                              <img class="hero-1-circle-4" src="assets/img/shape/hero/hero-1-circle-4.png" alt="">
                           </div>
                           <div class="hero__thumb-big mr-30">
                              <img src="assets/img/hero/hero-1.jpg" alt="">
                              <div class="hero__quote hero__quote-animation">
                                 <h4>"Un investissement dans l'éducation paie </h4>
                                   <h4> toujours les meilleurs intérêts." </h4>
                                 <span>- Benjamin Franklin.</span>
                              </div>
                           </div>
                           <div class="hero__thumb-sm mt-50 d-none d-lg-block">
                              <img src="assets/img/hero/hero-sm-1.jpg" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- hero area end -->

         <!-- pricing area start -->
         <section class="price__area pt-60 pb-130">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-4 offset-xxl-4">
                     <div class="section__title-wrapper mb-60 text-center">
                        <h2 class="section__title"><br> Se <span class="yellow-bg yellow-bg-big">connecter<img src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
                        <p>Bienvenue parmis nous.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="price__tab-btn text-center mb-50">
                        <nav>
                           <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                             <button class="nav-link" id="nav-monthly-tab" data-bs-toggle="tab" data-bs-target="#nav-monthly" type="button" role="tab" aria-controls="nav-monthly" aria-selected="true">Créer un nouveau compte</button>
                             <button class="nav-link active" id="nav-annually-tab" data-bs-toggle="tab" data-bs-target="#nav-annually" type="button" role="tab" aria-controls="nav-annually" aria-selected="false">J'ai déja un compte</button>
                           </div>
                         </nav>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                     <div class="price__tab-content">
                        <div class="tab-content" id="nav-tabContent">
                           <div class="tab-pane fade" id="nav-monthly" role="tabpanel" aria-labelledby="nav-monthly-tab">
                              <div class="row">
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="price__item grey-bg mb-30 p-relative">
                                        <div class="price__offer">
                                            <span>Nouvelle inscription</span>
                                         </div>
                                       <div class="price__head">
                                          <h3>Etudiant</h3>
                                       </div>
                                       <div class="price__tag mb-25">
                                    </div>
                                       <div class="price__features mb-40">
                                          <ul>
                                             <li><i class="far fa-check"></i>Accessibilité accrue</li>
                                             <li><i class="far fa-check"></i>Développement de compétences techniques</li>
                                             <li><i class="far fa-check"></i>Environnement d'apprentissage confortable</li>
                                          </ul>
                                       </div>
                                       <a href="inscription" class="e-btn e-btn-border">Créer mon compte</a>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="price__item grey-bg mb-30 p-relative">
                                        <div class="price__offer">
                                            <span>Nouvelle inscription</span>
                                         </div>
                                       <div class="price__head">
                                          <h3>Enseignant</h3>
                                       </div>
                                       <div class="price__tag mb-25">
                                    </div>
                                       <div class="price__features mb-40">
                                          <ul>
                                             <li><i class="far fa-check"></i>Accès à une variété de ressources </li>
                                             <li><i class="far fa-check"></i>Personnalisation de l'apprentissage </li>
                                             <li><i class="far fa-check"></i>Plus grande flexibilité</li>
                                          </ul>
                                       </div>
                                       <a href="signup" class="e-btn e-btn-border">Créer mon compte</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade show active" id="nav-annually" role="tabpanel" aria-labelledby="nav-annually-tab">
                              <div class="row">
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="price__item grey-bg mb-30 p-relative">
                                       <div class="price__head">
                                          <h3>Etudiant</h3>
                                       </div>
                                       <div class="price__tag mb-25">
                                       </div>
                                       <p>Rejoins-nous et commence l'aventure en te connectant.</p>
                                       <a href="connexion" class="e-btn e-btn-4">Se connecter</a>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="price__item grey-bg mb-30 p-relative">
                                       <div class="price__head">
                                          <h3>Enseignant</h3>
                                       </div>
                                       <div class="price__tag mb-25">
                                       </div>
                                       <p>Connectez-vous et commencez l'aventure avec <br>nous.</p>
                                       <a href="signin" class="e-btn e-btn-4">Se connecter</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- pricing area end -->

      </main>
      <app-footer></app-footer>
   </body>
   </html>

