<!doctype html>
<html class="no-js" lang="zxx">
<app-header></app-header>

   <body>

   <!-- pre loader area start --><!--elli mlouel blkoll-->
   <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="loading-content">
            <img class="loading-logo-text" src="assets/img/logo/2.png" alt="" style="width: 75%; height: 75%;">
            <div class="loading-stroke">
              <img class="loading-logo-icon" src="assets/img/logo/logo-icon.png" alt="">
            </div>
          </div>
        </div>
      </div>  
    </div>
   <!-- pre loader area end -->
 
      <!-- back to top start -->
      <div class="progress-wrap">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </div>
      <!-- back to top end -->

      <main>
           <!-- page title area start -->
           <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image:url(assets/img/page-title/page-title-3.jpg);">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="page__title-wrapper mt-110">
                        <h3 class="page__title">Qui Sommes-Nous?</h3>                         
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="">Acceuil</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Qui Sommes-Nous?</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- page title area end -->

         <section class="teacher__area pt-120 pb-120">
            <!-- 
               <div class="hero__shape">
               <img class="hero-1-circle" src="assets/img/shape/hero/hero-1-circle.png" alt="">
               <img class="hero-1-circle-2" src="assets/img/shape/hero/hero-1-circle-2.png" alt="">
               <img class="hero-1-dot-2" src="assets/img/shape/hero/hero-1-dot-2.png" alt="">
            </div>
            -->
            <div class="container">
               <div class="row">
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                     <div class="teacher__details-thumb p-relative w-img pr-30" style="margin-top: 120px;">
                        <img src="assets/img/banner/banner-img-2.png" alt="">
                        <div class="teacher__details-shape">
                           <img class="teacher-details-shape-1" src="assets/img/teacher/details/shape/shape-1.png" alt="">
                           <img class="teacher-details-shape-2" src="assets/img/teacher/details/shape/shape-2.png" alt="">
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-8 col-xl-8 col-lg-8">
                     <div class="teacher__wrapper">
                        <div class="teacher__top d-md-flex align-items-end justify-content-between">
                           <div class="teacher__info">
                              <h4>À la Découverte d'UpKurs</h4>
                           </div>
                          
                           
                           <div class="teacher__follow mb-5">
                              <a href="connect" class="teacher__follow-btn">Rejoignez-nous <i class="icon_plus"></i> </a>
                           </div>
                        </div>
                        <div class="teacher__bio">
                         
                           <p>UpKurs est une plateforme d'éducation en ligne dédiée aux étudiants, offrant un environnement d'apprentissage dynamique et interactif. 
                              <br>Notre objectif est de permettre à tous les étudiants d'accéder à des cours de haute qualité, dispensés par des enseignants expérimentés et des experts dans leur domaine. 

                             <br> Les cours proposés sur UpKurs sont soigneusement élaborés et couvrent une variété de sujets et de domaines d'études. 
                             
                            <br>  Nos cours sont animés par des enseignants hautement qualifiés, des agrégés, des professeurs d'enseignement et des experts reconnus dans leurs domaines respectifs. 
                           
                            <br>De plus, chaque cours reste accessible en replay, permettant aux étudiants de réviser les concepts clés à leur propre rythme, sans limite de temps.
                              
                              <br>Chez UpKurs, nous sommes passionnés par l'éducation et nous nous efforçons de fournir une expérience d'apprentissage exceptionnelle à chaque étudiant. 
                              <br>Rejoignez-nous dès maintenant sur UpKurs et découvrez une nouvelle façon d'apprendre qui vous permettra de développer vos compétences et d'atteindre vos objectifs académiques.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- instructor details area end -->
      </main>
  
   </body>
<app-footer></app-footer>
</html>

